@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.692);
  height: 100%;
}
img {max-width:100%; height:auto;}
h1 {font-size: 22px;
    color: rgb(168, 27, 27);
    line-height: 95%;}
h2 {font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 170%;}
h3 {font-size: 18px;}
h4 {font-size: 12px;}
* {
  box-sizing: border-box 15px;
}

.button {min-width: 100px;}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1170px; /* Максимальная ширина страницы */
  margin-left: auto; /* Центрируем (автоматически слева отступ) */
  margin-right: auto; /* Центрируем (автоматически справа отступ) */
  padding-left: 15px; /* отступ слева внутри блока */
  padding-right: 15px; /* отступ справа внутри блока */
    background: rgba(238, 255, 241, 0.692); /* Цвет фона */ 
   
    height: 100%;
}

.header {
  max-width: 1170px; /* Максимальная ширина страницы */
  margin-left: auto; /* Центрируем (автоматически слева отступ) */
  margin-right: auto; /* Центрируем (автоматически справа отступ) */
  margin-top: 10px;
    background: rgba(238, 255, 241, 0.692); /* Цвет фона */ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    
 }

   .logoImg {
    flex-basis: 10%; 
    background-image: url(../imgSite/logobks.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 65% auto;
    }
   .headLogo {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    margin-left: -50px;
    }
    .null {flex-grow: 1;}
    
    .headAdress{
      width: auto;
      flex: 1 1 auto;
      
    }
    .headPhone{
      width: auto;
      flex: 1 1 auto;
    }


.nav{
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  max-width: 1170px; /* Максимальная ширина страницы */
    background: rgb(255, 255, 255); /* Цвет фона */
    margin-bottom: 10px;
    
      
}

.main {
  display: flex;
  max-width: 1170px; /* Максимальная ширина страницы */
  margin-left: auto; /* Центрируем (автоматически слева отступ) */
  margin-right: auto; /* Центрируем (автоматически справа отступ) */
   
  margin-bottom: 10px;
  }
    .mainAsaid {
      flex-basis: 20%;
      flex-grow: 1;
      margin-right: 10px;
       background: rgb(245, 245, 245); /* Цвет фона */
    }
    .data {
      flex-basis: 30%;
      flex-grow: 4;
      background: rgb(245, 245, 245); /* Цвет фона */
    }

.footer {
  margin-top: auto;
  max-width: 1170px; /* Максимальная ширина страницы */
  margin-left: auto; /* Центрируем (автоматически слева отступ) */
  margin-right: auto; /* Центрируем (автоматически справа отступ) */
  padding-left: 30px; /* отступ слева внутри блока */
  padding-right: 30px; /* отступ справа внутри блока */
    background: rgb(210, 220, 223); /* Цвет фона */
    text-align: center; /* центрируем содержимое */
    margin-bottom: 10px;
 }